*{
    margin: 0;
    padding: 0;
}
.home {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;;

}
.home .logo{
    width: 10%;
    padding: 10px 20px;
    font-weight: bold;
}
.home .logo a{
    text-decoration: none;
    font-size: 32px;
    color: orangered;
}

.home .logo a span{
    color: rgba(255, 68, 0, 0.315);
}
.home .nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}
.home .nav ul li{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    font-weight: bold;


}
.home .nav ul li a{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: gray;
    text-transform: uppercase;
    padding: 10px;
}
.home .nav ul .bar{
    display: none;
    font-size: 25px;
    margin: 15px;
    color: black;
   
}

/*===============*/

.gallary{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallary .main{
    width: 100%;
    height: 60vh;
    background-image: url(../image/16.webp);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.gallary .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallary .row .image{
    width: 14%;
}
.gallary .row .image img{
    width: 100%;
    height: 100%;
}
/*=====end gallary====*/
.info2{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info2 .info-data{
    width: calc(90% / 3);
    display: flex;
    flex-wrap: wrap;
}
.info2 .info-data div{
    display: flex;
    flex-wrap: nowrap;
    color: orangered;
}
.info2 .info-data i{
    margin: 20px 10px 0px 0px;
    font-size: 32px;
    font-weight: bold;
    align-content: space-around;
}

.info2 .info-data h4{
    margin: 5px;
    font-size: 28px;
    font-weight: bold;
    align-content: space-around;
}
.info2 .info-data p{
    margin: 15px 0px;
}
.info2 .info-data a{
    margin: 5px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 5px;
    font-size: 16px;
}
/*========End info=========*/
.allline{
    padding: 30px 0px ;
    display: flex;
}
.allline .h2{
    color: orangered;
    width: 15%;
}
.allline .line{
    height: 30px;
    background-color: gray;
    width: 85%;
}
/*=======end line======*/
.last{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.last .p1{
    width: calc(97% / 4);
    border: 1px solid gray;
    font-weight: bold;
}
.last .p2{
    width: calc(97% / 4);
    border: 1px solid gray;
    font-weight: bold;
}
.last .p3{
    width: calc(97% / 4);
    border: 1px solid gray;
    font-weight: bold;
}
    .last .p4{
        width: calc(97% / 4);
    border: 1px solid gray;
    font-weight: bold;
    }
.last img{
    width: 100%;
}
.last h4{
    padding: 5px;
    margin-left: 5px;
    color: gray;
}
.last p{
    padding: 5px;
    margin-left: 5px;
    color: orangered;
}
/*=====end last =====*/
div.footer{
    width: 100%;
    background-color: rgba(255, 68, 0, 0.315);

}
.footer .row{
    width: 95%;
    margin: auto;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    color: white;
    border-right: 10px solid white;
    border-left: 10px solid white;
}
.footer div{
    width: calc(95% / 3);
}
.footer h3{
    padding: 5px;
    margin: 10px;
}
.footer p{
    padding: 5px;
    margin: 10px;
}
.footer i{
    font-size: 24px;
}




@media (max-width:750px) {
    .home .nav ul li{
        display: none;

    }
    .home .nav ul .bar{
        display: inline-block;
    }
    .gallary .row .image{
        width: 30%;
        border: 1px solid white;
        margin-top: 5px;
    }
   
   .info2{
        justify-content: space-around;
    }
    .info2 .info-data{
        width: 90%;
    }
    .allline .h2{
        color: orangered;
        width: 20%;
    }
    .allline .line{
        height: 30px;
        background-color: gray;
        width: 80%;
    }
    .last{
        flex-wrap: wrap;
    }
    .last .p1{
        width: calc(97% / 2);
        margin-bottom: 10px;
    }
    .last .p2{
        width: calc(97% / 2);
        margin-bottom: 10px;
    }
    .last .p3{
        width: calc(97% / 2);
        margin-bottom: 10px;
    }
    .last .p4{
        width: calc(97% / 2);
        margin-bottom: 10px;
    }
    .footer .row{
        flex-wrap: wrap;
    }
    .footer div{
        width: 95%;
    }
}
   
    
